.container {
  width: 1140px;
  margin: 0 auto;
}

h3 {
  font-weight: 400;
  margin: 55px 0 20px;
}
p {
  font-size: 16px;
  color: rgb(100, 100, 100);
  line-height: 45px;
}

.mt {
  margin-top: 10px;
}
